body {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --gcl-font-family: Arial, Helvetica, sans-serif;
    --gcl-color-primary: #3880ff;
    --gcl-color-secondary: #0cd1e8;
    --gcl-color-tertiary: #f4a942;
    --gcl-background-color-info: #e6f7ff;
    --gcl-color-info: #1f87b8;
    --gcl-background-color-success: #f6ffed;
    --gcl-color-success: #10dc60;
    --gcl-background-color-warning: #fffbe6;
    --gcl-color-warning: #ffce00;
    --gcl-background-color-danger: #fff2f0;
    --gcl-color-danger: #f14141;
    --gcl-color-light: #f4f5f8;
    --gcl-color-medium: #989aa2;
    --gcl-color-dark: #222428;

    /* Border width */
    --gcl-border-width: 2px;

    /* Font sizes */
    --gcl-font-size-large: 1.25rem;
    --gcl-font-size-medium: 1rem;
    --gcl-font-size-small: .875rem;

    /* Padding sizes */
    --gcl-padding-size-large: .5rem;
    --gcl-padding-size-medium: .375rem;
    --gcl-padding-size-small: .25rem;

    /* Radius sizes */
    --gcl-radius-size-large: .3rem;
    --gcl-radius-size-medium: .25rem;
    --gcl-radius-size-small: .2rem;
}