<head>

    <script>

        function getData() {

            return [
                {
                    "value": "a",
                    "iconName": "cart-fill",
                    "textKey": "goodMorning",
                    "lang": "en"
                },
                {
                    "value": "b",
                    "iconName": "alarm-fill",
                    "textKey": "goodMorning",
                    "lang": "fr"
                },
                {
                    "value": "c",
                    "iconName": "calculator",
                    "textKey": "goodMorning",
                    "lang": "de"
                }
            ];
        }

        function getPrimitiveValues() {

            return [10, 25, 50, 100];
        }

        function renderRecord(record) {

            const {
                iconName,
                textKey,
                lang
            } = record;

            return `
                <gcl-row>
                    <gcl-icon name="${iconName}" style="width: 50px;"></gcl-icon>
                    <gcl-text intl-key="${textKey}" lang="${lang}"></gcl-text>
                </gcl-row>
            `;
        }

        function getFields() {

            return [
                {
                    name: "name",
                    display: "Name",
                    width: '40%'
                },
                {
                    name: "reputation",
                    display: "Reputation",
                    width: '20%'
                },
                {
                    name: "description",
                    display: "Description",
                    width: '40%'
                }
            ];
        }

        function showSelection(selection) {

            console.log('Selection: ' + JSON.stringify(selection));
        }

        // function getRecord() {

        //     return {
        //         name: "Sarah",
        //         reputation: 9,
        //         description: 'Smart and beautiful'
        //     };
        // }

        function getField() {

            return {
                name: "name",
                display: "Name",
                width: '200px',
                render: (record, field) => {
                    return `
                    <gcl-row justify-content="center" style="width:${field.width};">
                        <gcl-icon name="person" variant="warning" size="large"></gcl-icon>
                        <span style="background-color: red;">
                            ${record[field.name]}
                        </span>
                    </gcl-row>`;
                }
            };
        }

    </script>

</head>

<body>

    <h4>Dropdown with grid with local primitives</h4>

    <gcl-dropdown id="local-primitive-dropdown" size="large" selection-changed="showSelection()">
        <gcl-display slot="header"></gcl-display>
        <gcl-data-grid slot="content" size="large" data="getPrimitiveValues()" selection='[25]' pageable="false">
        </gcl-data-grid>
    </gcl-dropdown>

    <h4>Dropdown with local data</h4>

    <gcl-dropdown id="local-data-dropdown" size="small" selection-changed="showSelection()"
        display-field="renderRecord()">
        <span slot="header">Dropdown 1</span>
        <gcl-data-grid slot="content" size="small" data="getData()" render-record="renderRecord()" record-id="value"
            pageable="false" selection='["c"]'>
        </gcl-data-grid>
    </gcl-dropdown>

    <h4>Dropdown with local data and display selection</h4>

    <gcl-dropdown id="local-data-and-display-dropdown" size="small" selection-changed="showSelection()"
        display-field="renderRecord()" empty-display="--Select--">
        <gcl-display slot="header"></gcl-display>
        <gcl-data-grid slot="content" size="small" data="getData()" render-record="renderRecord()" record-id="value"
            pageable="false" selection='["c"]'>
        </gcl-data-grid>
    </gcl-dropdown>

    <h4>Dropdown with remote data and display selection</h4>

    <gcl-dropdown id="remote-data-and-display-dropdown" selection-changed="showSelection()" display-field="name">
        <gcl-display slot="header"></gcl-display>
        <gcl-data-grid slot="content" load-url="http://localhost:60314/api/contacts" fields="getFields()" size="small"
            selection='[2]'>
        </gcl-data-grid>
    </gcl-dropdown>

</body>