<h4>Icons</h4>
<gcl-icon id="alarm-icon" name="alarm" variant="primary" size="large"></gcl-icon>
<gcl-icon name="alarm-fill" variant="secondary" size="medium"></gcl-icon>
<gcl-icon name="archive" variant="tertiary" size="small"></gcl-icon>
<gcl-icon name="calculator-fill" variant="success" size="large"></gcl-icon>
<gcl-icon name="calendar" variant="warning" size="large"></gcl-icon>
<gcl-icon name="camera-fill" variant="danger"></gcl-icon>
<gcl-icon name="camera-video-fill" variant="light" size="large"></gcl-icon>
<gcl-icon name="card-checklist" variant="medium"></gcl-icon>
<gcl-icon name="chat-fill" variant="dark"></gcl-icon>
<gcl-icon name="compass" size="large" style="color:magenta"></gcl-icon>
<gcl-icon name="arrow-right" size="large" variant="success" dir="rtl"></gcl-icon>
<gcl-icon name="chevron-right" size="large" variant="medium" dir="rtl"></gcl-icon>
<gcl-icon name="bug" style="color:orangered; font-size: 64px;"></gcl-icon>

<script>
    const alarmIcon = document.querySelector("#alarm-icon");

    setTimeout(function () {
        alarmIcon.setAttribute("variant", "tertiary");
    }, 5000);

</script>