<head>
    <script>

        function showSelection(selection) {

            alert('Selection: ' + JSON.stringify(selection));
        }

        function toggleSelectable() {

            const list = document.querySelector("#singleList");

            const toggleSelectableText = document.querySelector("#toggleSelectableText");

            alert(!list.props.selectable);

            list.setAttribute("selectable", !list.props.selectable);

            toggleSelectableText.setValue(list.props.selectable ? "Selectable On" : "Selectable Off");
        }

        function formatDate(date, format, options) {

            if (options === void 0) {
                options = {
                    year: 'numeric', month: 'numeric', day: 'numeric'
                };
            }

            if (typeof date === 'string') {
                date = new Date(date);
            }

            switch (format) {
                default: return date.toLocaleDateString(undefined, options);
            }
        }

        function renderListItem(record) {

            const {
                value,
                iconName,
                textKey,
                lang
            } = record;

            return `<gcl-list-item value="${value}">
                    <gcl-icon name="${iconName}"></gcl-icon>
                    <gcl-text intl-key="${textKey}" lang="${lang}"></gcl-text>
                </gcl-list-item>`;
        }

        function renderContact(record) {

            const {
                id,
                name,
                dateOfBirth,
                reputation,
                description,
                avatar
            } = record;

            const avatarSource = `data:image/jpeg;base64,${avatar.content}`;

            return `<gcl-list-item value="${id}">       
                <gcl-text>Name: ${name}</gcl-text>
                <gcl-text>Date of Birth: ${formatDate(dateOfBirth)}</gcl-text>
                <gcl-text>Reputation: ${reputation}</gcl-text>
                <gcl-text>Description: ${description}</gcl-text>
                <img style="width: 64px; height: 64px; border-radius: 50%;" src="${avatarSource}" />
            </gcl-list-item>`;
        }

        function getFields() {
            return [
                {
                    name: "name",
                    display: "Name",
                    width: '40%'
                },
                {
                    name: "reputation",
                    display: "Reputation",
                    width: '20%'
                },
                {
                    name: "description",
                    display: "Description",
                    width: '40%'
                }
            ];
        }

    </script>
</head>

<body>

    <h4>List Single Selection</h4>
    <gcl-list id="singleList" selection='["a"]' selectable selection-changed="showSelection()">

        <gcl-list-item value="a">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="en"></gcl-text>
        </gcl-list-item>

        <gcl-list-item value="b">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="fr"></gcl-text>
        </gcl-list-item>

        <gcl-list-item value="c">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="de"></gcl-text>
        </gcl-list-item>

    </gcl-list>

    <!-- Buttons to operate the list -->
    <gcl-button variant="primary" click="toggleSelectable()">
        <gcl-icon name="alarm-fill" class="secondary"></gcl-icon>
        <gcl-text class="text" id="toggleSelectableText" value="Selectable On"></gcl-text>
    </gcl-button>

    <h4>List Single Selection with Data</h4>
    <gcl-list id="listWithData" size="small" selection='["c"]' selectable selection-changed="showSelection()" data='[
                {
                    "value": "a",
                    "iconName": "alarm-fill",
                    "textKey": "goodMorning",
                    "lang": "en"
                },
                {
                    "value": "b",
                    "iconName": "alarm-fill",
                    "textKey": "goodMorning",
                    "lang": "fr"
                },
                {
                    "value": "c",
                    "iconName": "alarm-fill",
                    "textKey": "goodMorning",
                    "lang": "de"
                }
            ]' render-record="renderListItem()">

    </gcl-list>

    <h4>List Single Selection with Empty Data</h4>
    <gcl-list id="listWithEmptyData" size="small" selection='["c"]' selectable selection-changed="showSelection()"
        data="[]" render-record="renderListItem()">
    </gcl-list>

    <h4>List Multiple Selection</h4>
    <gcl-list size="large" selection='["a", "c"]' selectable multiple selection-changed="showSelection()">

        <gcl-list-item value="a">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="en"></gcl-text>
        </gcl-list-item>

        <gcl-list-item value="b">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="fr"></gcl-text>
        </gcl-list-item>

        <gcl-list-item value="c">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="de"></gcl-text>
        </gcl-list-item>

    </gcl-list>

    <h4>Contacts list (it retrieves data from a back-end)</h4>
    <gcl-list id="contactsList" load-url="http://localhost:60314/api/contacts" size="medium" selection='[2]' selectable
        selection-changed="showSelection()" render-record="renderContact()">
    </gcl-list>

    <h4>Contacts list with fields (it retrieves data from a back-end)</h4>

    <gcl-filter-panel target-view-id="contactsListWithFields">

        <!-- <gcl-filter-field>
            <gcl-text-field label="Name" name="name">
                <gcl-select slot="after-label" name="operator" empty-option='{
                    "label": "Select Operator",
                    "value": ""
                }' data='[
                    {
                        "code": "eq",
                        "description": "Equals"
                    },
                    {
                        "code": "contains",
                        "description": "Contains"
                    }
                ]'>
                </gcl-select>
            </gcl-text-field>
        </gcl-filter-field> -->

        <gcl-filter-field 
            field='<gcl-text-field label="Name" name="name"></gcl-text-field>'
            operators='[
                "eq",
                "contains"
            ]'>
        </gcl-filter-field>

        <!-- <gcl-filter-field>
            <gcl-number-field label="Reputation" name="reputation" min="1" max="10"></gcl-number-field>
        </gcl-filter-field> -->

    </gcl-filter-panel>

    <gcl-list id="contactsListWithFields" 
        load-url="http://localhost:60314/api/contacts" 
        size="medium" 
        selection='[2]'
        selectable 
        selection-changed="showSelection()" 
        fields="getFields()">
    </gcl-list>

    <gcl-pager target-view-id="contactsListWithFields" total-pages="5"></gcl-pager>

</body>