<head>
    <script>

        function showSelection(selection) {

            alert('Selection: ' + JSON.stringify(selection));
        }

        function toggleSelectable() {

            const list = document.querySelector("#singleList");

            const toggleSelectableText = document.querySelector("#toggleSelectableText");

            alert(!list.props.selectable);

            list.setAttribute("selectable", !list.props.selectable);

            toggleSelectableText.setValue(list.props.selectable ? "Selectable On" : "Selectable Off");
        }

    </script>
</head>

<body>

    <h4>List Single Selection</h4>
    <gcl-list id="singleList" selection='["a"]' selectable selection-changed="showSelection()">

        <gcl-list-item value="a">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="en"></gcl-text>
        </gcl-list-item>

        <gcl-list-item value="b">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="fr"></gcl-text>
        </gcl-list-item>

        <gcl-list-item value="c">
            <gcl-icon name="alarm-fill"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="de"></gcl-text>
        </gcl-list-item>

    </gcl-list>

    <!-- Buttons to operate the list -->
    <gcl-button variant="primary" click="toggleSelectable()">
        <gcl-icon name="alarm-fill" class="secondary"></gcl-icon>
        <gcl-text class="text" id="toggleSelectableText" value="Selectable On"></gcl-text>
    </gcl-button>

    <h4>List Single Selection with Data</h4>
    <my-list-single-selection-load-data></my-list-single-selection-load-data>

    <h4>List Single Selection with Empty Data</h4>
    <my-list-single-selection-load-empty-data></my-list-single-selection-load-empty-data>

    <h4>List Multiple Selection</h4>
    <my-list-multiple-selection></my-list-multiple-selection>

    <h4>Contacts list (it retrieves data from a back-end)</h4>
    <contacts-list></contacts-list>

</body>