<script>

    function showSelection(selection) {

        alert('Selection: ' + JSON.stringify(selection));
    }

    
    function getFields() {
        return [
            {
                name: "name",
                display: "Name",
                width: '40%'
            },
            {
                name: "reputation",
                display: "Reputation",
                width: '20%'
            },
            {
                name: "description",
                display: "Description",
                width: '40%'
            }
        ];
    }

</script>

<h4>Panels</h4>
<gcl-panel>

    <gcl-header slot="header">
        <span slot="title">
            <gcl-icon name="archive" variant="tertiary"></gcl-icon>
            <gcl-text intl-key="goodMorning" lang="de" variant="secondary"></gcl-text>
        </span>
    </gcl-header>

    <gcl-list slot="body" load-url="http://localhost:60314/api/contacts" size="medium" selection='[2]' selectable
        selection-changed="showSelection()" fields="getFields()">
    </gcl-list>

    <div slot="footer">This is the footer!</div>
    
</gcl-panel>