<h4>Text</h4>
<gcl-text intl-key="goodMorning" variant="primary" size="large"></gcl-text>
<br />
<gcl-text intl-key="goodMorning" lang="fr" variant="secondary"></gcl-text>
<br />
<gcl-text value="Buenos días in value" variant="tertiary" size="small"></gcl-text>
<br />
<gcl-text variant="info" style="color:orangered; font-size: 64px;">Buenos días in slot</gcl-text>
<br />
<gcl-text intl-key="doesNotExistForAnylanguage" variant="warning"></gcl-text>
<br />
<gcl-text intl-key="goodMorning" lang="it" variant="success"></gcl-text>
<br />
<gcl-text intl-key="goodMorning" lang="de" variant="danger" style="color:magenta; font-size: 2.5rem;">
</gcl-text>
<br />