<head>
    <script>

        function getData() {

            return [
                {
                    "value": "a",
                    "iconName": "cart-fill",
                    "textKey": "goodMorning",
                    "lang": "en"
                },
                {
                    "value": "b",
                    "iconName": "alarm-fill",
                    "textKey": "goodMorning",
                    "lang": "fr"
                },
                {
                    "value": "c",
                    "iconName": "calculator",
                    "textKey": "goodMorning",
                    "lang": "de"
                }
            ];
        }

        function renderListItem(record) {

            const {
                iconName,
                textKey,
                lang
            } = record;

            return `
                <gcl-icon name="${iconName}" style="width: 50px;"></gcl-icon>
                <gcl-text intl-key="${textKey}" lang="${lang}"></gcl-text>
            `;
        }

        function getFields() {
            return [
                {
                    name: "name",
                    display: "Name",
                    width: '40%'
                },
                {
                    name: "reputation",
                    display: "Reputation",
                    width: '20%'
                },
                {
                    name: "description",
                    display: "Description",
                    width: '40%'
                }
            ];
        }

        function showSelection(selection) {

            alert('Selection: ' + JSON.stringify(selection));
        }

    </script>

</head>

<body>

    <gcl-x-list data="getData()" render-record="renderListItem()" record-id="value" pageable="false">
    </gcl-x-list>

    <gcl-x-list id="contactsList" load-url="http://localhost:60314/api/contacts" fields="getFields()"
        size="medium" selection='[2]' selection-changed="showSelection()">
    </gcl-x-list>

    <gcl-x-list id="contactsListMultiple" load-url="http://localhost:60314/api/contacts" fields="getFields()"
        size="medium" selection='[1,3]' multiple selection-changed="showSelection()">
    </gcl-x-list>

</body>