/* host applies to the text component*/
:host([variant='primary']),
*[variant='primary'] {
    color: var(--gcl-color-primary);
}

:host([variant='secondary']),
*[variant='secondary'] {
    color: var(--gcl-color-secondary);
}

:host([variant='tertiary']),
*[variant='tertiary'] {
    color: var(--gcl-color-tertiary);
}

:host([variant='info']),
*[variant='info'] {
    color: var(--gcl-color-info);
}

:host([variant='success']),
*[variant='success'] {
    color: var(--gcl-color-success);
}

:host([variant='warning']),
*[variant='warning'] {
    color: var(--gcl-color-warning);
}

:host([variant='danger']),
*[variant='danger'] {
    color: var(--gcl-color-danger);
}

:host([variant='light']),
*[variant='light'] {
    color: var(--gcl-color-light);
}

:host([variant='medium']),
*[variant='medium'] {
    color: var(--gcl-color-medium);
}

:host([variant='dark']),
*[variant='dark'] {
    color: var(--gcl-color-dark);
}