.hoverable:hover {
    background-color: darkturquoise;
}

[selectable='true'] {  
    cursor: pointer;
}

[selected='true'] { 
    background-color: var(--gcl-color-tertiary);
}

li {
    list-style: none;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}