label {
    flex: 1 0 0px;
    min-width: 300px;
}

input, 
select,
textarea {
    flex: 1 0 0px;
    outline: none;
    border-style: solid;
    border-color: var(--gcl-color-medium);
}

textarea,
select {
    min-width: 200px;
    font-family: inherit;
}

input[type='date'] {
    font-family: inherit;
}

input:focus,
textarea:focus,
select:focus {
    border-style: solid;
    border-color: var(--gcl-color-primary);
}

input[size='large'],
textarea[size='large'],
select[size='large'] {
    border-width: var(--gcl-width-size-large);
}

input[size='medium'],
textarea[size='medium'],
select[size='medium'] {
    border-width: var(--gcl-width-size-medium);
}

input[size='small'],
textarea[size='small'],
select[size='small'] {
    border-width: var(--gcl-width-size-small);
}

label {
    font-weight: 600;
}

label[required]:after {
    display: inline-block;
    content:" *";
    color: var(--gcl-color-danger);
}
