/* host applies to the text component*/
:host([size='large']),
*[size='large'] {
    font-size: var(--gcl-font-size-large);
    padding: var(--gcl-padding-size-large);
    border-radius: var(--gcl-radius-size-large);
}

:host([size='medium']),
*[size='medium'] {
    font-size: var(--gcl-font-size-medium);
    padding: var(--gcl-padding-size-medium);
    border-radius: var(--gcl-radius-size-medium);
}

:host([size='small']),
*[size='small'] {
    font-size: var(--gcl-font-size-small);
    padding: var(--gcl-padding-size-small);
    border-radius: var(--gcl-radius-size-small);
}
